body {
  background-color: #fdfbf7;
  color: #1e1e1e;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@media print {
  @page {
    margin: 2cm;
  }
  body {
    background: white;
  }
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
}